body {
    background-color: white;
}

.header{
    height: 2rem;
    width: 100%;
    position: relative;
    float: right;
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 0.3rem;
    padding-right: 0.5rem;
}

.header a{
    text-decoration: none;
    margin-left: 0.8rem;
    font-family: arial,sans-serif;
    color: black;
    font-size: 13px;
}

.links a :hover{
    border-bottom: 1px solid black;
}

.menu a{
    border-radius: 50%;
    margin-left: 2rem;
}

.button {
    background-color: #1a73e8;
    border: none;
    color: white;
    margin-left: 0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    height: 2.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 4px;
  }

  .logo{
    justify-content: center;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 5.7rem;
    margin: 0 auto;
    margin-top: 7rem;
  }
.search {
    width: 100%;
    position: relative;
    display: flex;
    place-content: center;
    margin-top: 1.5rem;
}

.searchIcon{
    width: 48px;
    height: 45px;
    border: 1px solid #D3D3D3;
    background: white;
    text-align: center;
    color: #808080;
    border-radius: 22px 0 0 22px;
    cursor: pointer;
    font-size: 1.1rem;
    border-right: none;
}

.fa-search{
    margin: 0.8rem;
}

.searchTerm {
    width: 30rem;
    border: 1px solid #D3D3D3;
    border-right: none;
    padding: 5px;
    height: 35px;
    outline: none;
    color: #9DBFAF;
    border-left: none;
    color: black;
    font-size: 1rem;
}

.keyboardButton {
    width: 48px;
    height: 47px;
    border: 1px solid #D3D3D3;
    background: white;
    text-align: center;
    color: #808080;
    border-radius: 0 22px 22px 0;
    cursor: pointer;
    font-size: 1.1rem;
    border-left: none;
}

.keyboardButton:focus{
    outline: none;
}

.buttons{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 1.6rem;
}
  
.buttons button{
    border: none;
    height: 2.3rem;
    width: 8.2rem;
    margin-inline: 0.5rem;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
}

.otherLanguage{
    font-size: 14px;
    font-family: arial,sans-serif;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.otherLanguage a{
    text-decoration: none;
    margin-left: 0.4rem;
}